<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs')%>
<body>
  <%- include("./partials/nav.ejs")%>
  <div class="message-container">
    <% messages.forEach(function (message) { %>
      <%- include('./partials/message.ejs', {message}) %>
    <% }); %>
  </div>
</body>
</html>
