<!DOCTYPE html>
<html>
<%- include("./partials/header.ejs")%>
<body>
  <%- include("./partials/nav.ejs")%>
  <form id="messageForm">
    <label for="user-name">User Name: </label>
    <input type="text" id="usernameInput" name="user-name"/>
    <label for="message">Message: </label>
    <textarea rows="13" cols="55" name="message" id="messageInput"></textarea> 
    <button type="submit" id="submitButton">Submit</button>
  </form>
  <div class="formEmptyWarning" id="formEmptyWarning">
    <p>Please Fill All Entry Fields.</p>
  </div>
  <div class="formSubmittedSuccessfullyText" id="formSubmittedSuccessfullyText">
    <p>Post Successfully Added!</p>
  </div>
  <script src="messageFormSubmition.js"></script>
</body>
</html>
