<!DOCTYPE html>
<html>
<%- include("./partials/header.ejs")%>
<body>
  <h1>this is the new message page</h1>
  <%- include("./partials/nav.ejs")%>
  <form id="messageForm">
    <input type="text" id="user-name" name="user-name"/>
    <textarea rows="13" cols="55" name="message"></textarea> 
    <button type="submit">Submit</button>
  </form>
  <div class="formEmptyWarning" id="formEmptyWarning">
    <p>Please Fill All Entry Fields.</p>
  </div>
  <script src="messageFormSubmition.js"></script>
</body>
</html>
