<!DOCTYPE html>
<html>
<%- include("./partials/header.ejs")%>
<body>
  <h1>this is the new message page</h1>
  <%- include("./partials/nav.ejs")%>
  <form id="messageForm">
    <input type="text" id="user-name" name="user-name"/>
    <input type="text" id="message" name="message"/>
    <button type="submit">Submit</button>
  </form>
  <div classname="formEmptyWarning" >
    <h3>One or more fields are empty</h3>
  </div>
  <script>
    const warning = document.getElementById('formEmptyWarning');
    document.getElementById('messageForm').addEventListener('submit', (e) => {
      e.preventDefault();
      const formData = new FormData(e.target);
      if (formData.get(user-name) !== "" && formData.get(message) !== "") {
        
      }
    })
  </script>
</body>
</html>
