@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:ital,wght@1,700&display=swap');

:root {
  --text-color: #e4ecf1;
  --background: #020303;
  --primary: #769db7;
  --secondary: #0c1317;
  --accent: #537f9d;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--background);
  padding: 0;
  font-family: "Roboto Condensed";
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.navbar > a {
  color: black;
  text-decoration: none;
  background-color: var(--primary);
  padding: 21px;
  border-radius: 13px;
  font-size: 21px;
}

.navbar > a:hover {
  background-color: var(--accent);
}

.formEmptyWarning {
  display: none;
  color: #ff722b;
}

.formSubmittedSuccessfullyText {
  display: none;
  color: green;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 55vw;
  justify-self: center;
  align-self: center;
}

.message-container {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  background-color: var(--secondary);
  margin: 8px;
  border-left: 8px solid var(--accent);
}

#messageForm {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#messageForm > label {
  font-size: 21px;
}

#usernameInput,
#messageInput
{
  color: white;
  background-color: var(--secondary);
  border: none;
  outline: none;
  padding: 21px;
  border-radius: 8px;
  font-size: 21px;
}

#submitButton {
  margin-top: 34px;
  max-width: 89px;
  height: 55px;
  font-size: 21px;
  text-align: center;
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 13px;
}

.message-username {
  margin-bottom: 13px;
}
