body {
  color: white;
  background-color: #242424;
}

.navbar > a {
  color: white;
}

.formEmptyWarning {
  display: none;
  color: #ff722b;
}

.formSubmittedSuccessfullyText {
  display: none;
  color: green;
}
